<IfModule mod_mime.c>
    ForceType application/json
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "public, max-age=3600, must-revalidate"
    Header set X-Content-Type-Options "nosniff"
</IfModule>
